<app-header *ngIf="!routerUrl.includes('/category-list') && !routerUrl.includes('/category-add') && !routerUrl.includes('/category-edit')&& !routerUrl.includes('/product-list') && !routerUrl.includes('/product-add') && !routerUrl.includes('/product-edit')"></app-header>


<router-outlet></router-outlet>


<app-footer *ngIf="!routerUrl.includes('/category-list') && !routerUrl.includes('/login') && !routerUrl.includes('/register') && !routerUrl.includes('/category-add') && !routerUrl.includes('/category-edit') && !routerUrl.includes('/product-list') && !routerUrl.includes('/product-add') && !routerUrl.includes('/product-edit')" ></app-footer>
